
<h3>{{leyenda}}</h3>

<div class="input-group">
  <span class="input-group-btn">
    <button class="btn btn-primary" type="button" (click)="cambiarValor(-5)">
       <i class="mdi mdi-minus"></i>
     </button>
  </span>
  <input #txtProgress type="number" max="100" min="0" (ngModelChange)="onChanges($event)" class="form-control" name="porcentaje" [(ngModel)]="porcentaje" >
  <span class="input-group-btn">
     <button class="btn btn-primary" type="button" (click)="cambiarValor(5)">
         
         <i class="mdi mdi-plus"></i>
     </button>
   </span>
</div>